html, body{
    color:white;
    background-color:#21232A;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:1.3rem;
    padding:70px;
}

button{
    padding: 19px;
    font-size: 14px; 
}